<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Home</a></li>
    </ul>
    <a href="/"><h3 class="muted">{{site.title}}</h3></a>
  </div>

</div>
